---
import data from "@data/projects.json";
import Card from "@components/Card.astro";
import Tag from "@components/Tag.astro";
---

<div class="w-full flex justify-center">
  <div class="w-3/4 flex gap-x-8 flex-wrap justify-center">
    {
      data.map((item, index) => (
        <Card>
          <h2 class="text-2xl font-bold mb-2">{item.name}</h2>
          <div class="flex gap-1">
            {item.tags.map((tag, index) => (
              <Tag>{tag}</Tag>
            ))}
          </div>
          <p class="flex my-3">{item.description}</p>
          <div class="flex gap-3 mt-auto">
            {Object.entries(item.url).map(([key, value], index) => (
              <a
                href={value}
                class="text-gray-500 hover:underline hover:font-semibold"
              >
                {key}
              </a>
            ))}
          </div>
        </Card>
      ))
    }
  </div>
</div>
